    body {
        font-family: 'Abel';
        background-color: #BE90D4;
        background-image: url('https://condaluna.com/assets/stickers/sparkle-trail-2.gif'),
                          url(https://64.media.tumblr.com/f0b69db17c13c32d23adb1784ceadbae/940908fe8c3a4fcd-97/s540x810/05097194d4fd95eebb1debd9e6ead0a05a653f64.gif);
        background-repeat: no-repeat, repeat;
        background-position: center, center;
        background-attachment: fixed;
        background-size: cover, 400px;
        color: #ffffff;
        text-align: center;
        margin: 0;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .maindiv {
        background-color: white;
        border-radius: 10px;
        color: #BE90D4;
        width: 750px;
        margin-bottom: 20px;
        padding: 20px;
        text-align: center;
        animation: fadeIn 2s ease-in forwards;
    }

    .introdiv {
        background-color: white;
        border-radius: 10px;
        color: #BE90D4;
        width: 750px;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        animation: fadeIn 3s ease-in forwards;
    }

    .picofme    {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        border-radius: 10px;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
